<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Template is working</title>
</head>
<body>
<h1>Price Checker For renting a House</h1>
<form action='result' method='get'>



    <input type="text" name='location' placeholder="location"></input>
    <label for="Area">Area in sqft</label>
  <input type="number" name="Area" required>

    <label for="Trans">Type </label>
  <select name="Trans">
    <option value="New Property">Resale</option>
    <option value="Resale">New Property</option>
  </select>

    <label for="furnish">Furnish Type</label>
  <select name="furnish">
    <option value="Unfurnished">Furnished</option>
    <option value="Semi-Furnished">Semi-Furnished</option>
      <option value="Furnished">Unfurnished</option>
  </select>
    <label for="Bathroom">Bathroom</label>
  <input type="number" name="Bathroom" required>
    <button type='submit'> predict price</button>


    <br><br><br>
    list of cities : <br>
    'agra',
 'ahmadnagar',
 'ahmedabad',
 'allahabad',
 'aurangabad',
 'badlapur',
 'bangalore',
 'belgaum',
 'bhiwadi',
 'bhiwandi',
 'bhopal',
 'bhubaneswar',
 'chandigarh',
 'chennai',
 'coimbatore',
 'dehradun',
 'durgapur',
 'ernakulam',
 'faridabad',
 'ghaziabad',
 'goa',
 'greater-noida',
 'guntur',
 'gurgaon',
 'guwahati',
 'gwalior',
 'haridwar',
 'hyderabad',
 'indore',
 'jabalpur',
 'jaipur',
 'jamshedpur',
 'jodhpur',
 'kalyan',
 'kanpur',
 'kochi',
 'kolkata',
 'kozhikode',
 'lucknow',
 'ludhiana',
 'madurai',
 'mangalore',
 'mohali',
 'mumbai',
 'mysore',
 'nagpur',
 'nashik',
 'navi-mumbai',
 'navsari',
 'nellore',
 'new-delhi',
 'noida',
 'palakkad',
 'palghar',
 'panchkula',
 'patna',
 'pondicherry',
 'pune',
 'raipur',
 'rajahmundry',
 'ranchi',
 'satara',
 'shimla',
 'siliguri',
 'solapur',
 'sonipat',
 'surat',
 'thane',
 'thrissur',
 'tirupati',
 'trichy',
 'trivandrum',
 'udaipur',
 'udupi',
 'vadodara',
 'vapi',
 'varanasi',
 'vijayawada',
 'visakhapatnam',
 'vrindavan',
 'zirakpur'

</form>
</body>
</html>